@font-face {
    font-family: 'GeoSlab703 MdCn BT';
    src: url('fonts/GeometricSlab703BT-BoldCond.woff2') format('woff2'),
        url('fonts/GeometricSlab703BT-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('fonts/SofiaSans-Bold.woff2') format('woff2'),
        url('fonts/SofiaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('fonts/ArchivoNarrow-Regular.woff2') format('woff2'),
        url('fonts/ArchivoNarrow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section:first-child{
    position: relative;
    height:100px;
}
section .title{
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -35.5px;
    margin-bottom: -35px;
    font-family: 'GeoSlab703 MdCn BT', serif;
    text-align: center;
  }

.maintitle {
  font-family: 'GeoSlab703 MdCn BT', serif;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0.5em;
}

  .title h1 {
    font-family:'GeoSlab703 MdCn BT', serif; 
    font-size: 3em; 
    font-weight:300; 
    text-transform: uppercase;
    text-align: center;
  }
  .title h2{
    font-size: 2em;
    font-weight:100;
    letter-spacing: 5px;
    text-align: center;
  }

h2 {
  text-align: center;
  padding: 2em;
}
.p-one{
  background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/cover.jpeg'); 
  margin-top: 6em;
  margin-bottom: 6em;
  }

  .parallax-inner{
    position:relative;
    min-height: 500px;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
  }
  .parallax-inner > h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20.5px;
    width: 100%;
    text-align: center;
  }
  .content-text p{
    font-family: 'Archivo Narrow', serif;
    padding: 25px 50px 25px 50px;
    font-weight: 400;
    text-align: justify;
    line-height: 24px;
  }
  .first-letter{
    float: left;
    font-weight: 400;
    font-size: 84px;
    line-height: 64px;
    padding-top: 2px;
    padding-right: 8px;
    padding-left: 4px;
    color: #bf2d33;
  }
  .line-break{
    border-bottom: 1px solid #bf2d33;
    width: 200px;
    margin: 0 auto;
  }

/*Navbar*/
  .navbar {
    height: var(--cs-nav-height);
    z-index: 1000;
}

.nav-link {
    color: #fff;
    font-family: 'Sofia Sans', serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 1.2em;
    padding: 1em;
    margin-left: 1em;
}
/* Link color when hovered */
.nav-link:hover {
    color: #ffd700;
}
/* Link color when visited */
.nav-link:visited {
    color: #ffffbf;
}

.navbar-light .navbar-toggler {
  background-color: transparent; /* Fundo transparente */
  border: 1px solid white; /* Altera a borda para branca */
}

  .navbar-light .navbar-toggler:focus,
  .navbar-light .navbar-toggler:active {
    border-color: white; /* Muda a cor da borda para branca */
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='none' stroke='white' stroke-width='3'%3E%3Cline x1='4' y1='7' x2='26' y2='7'/%3E%3Cline x1='4' y1='15' x2='26' y2='15'/%3E%3Cline x1='4' y1='23' x2='26' y2='23'/%3E%3C/svg%3E");
}

/* Container da equipe */
.team-container {
  display: flex;
  flex-direction: column; /* Força os cards a ficarem em coluna no mobile */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Garante que não fiquem esticados em telas pequenas */
}

.team-member {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px;
}

.card {
  width: 200px;
  height: 350px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s; 
  transform-style: preserve-3d;
  cursor: pointer;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
}

.card-front img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-back {
  background-color: #bf2d33;
  color: black;
  border-radius: 10px;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
  text-align: center;       /* Centraliza texto em múltiplas linhas */
  font-family: 'Archivo Narrow', serif;
  font-size: 0.8em;
  padding: 10px;   
  box-sizing: border-box;
  transform: rotateY(180deg);
}


.member-info {
  max-width: 500px;
  text-align: justify;
}

.member-info h3 {
  Font-family: 'Sofia Sans', serif;
  margin-bottom: 10px;
  color:  black;
}

.member-info p {
  Font-family: 'Archivo Narrow', serif;
  margin-bottom: 15px;
  color: black;
}

.lattes-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color:  rgba(13, 73, 37);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.lattes-btn:hover {
  background-color: #ffd700;
}

/* Estilos específicos para os cards de eventos */
.event-card-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dois cards por linha */
  gap: 2.5em; /* Espaçamento entre os cards (horizontal e vertical) */
  padding: 0 2.5em; /* Margem de 2.5em nas laterais */
  justify-content: center; /* Centraliza os cards no meio da tela */
  margin-bottom: 40px;
}

.event-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-card a {
  text-decoration: none;
  color: inherit;
}

.event-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais intensa ao passar o mouse */
}

.card-body {
  padding: 15px;
}

.card-title {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.event-card-text {
  font-family: 'Archivo Narrow', serif;
  font-size: 1em;
  line-height: 1.5;
}

.events-title{
  margin: 2em;
}


/*Footer*/
footer {
  height: calc(3 * var(--cs-nav-height));
  width: 100%;
  position: relative;
  background-color: rgba(13, 73, 37, 0.5); 
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
}

.pt-2{
  font-family: 'Sofia Sans', serif;
}

footer p, footer a {
  color: white; /* Cor padrão igual à navbar */
  Font-family: 'Archivo Narrow', serif;
  font-weight: 800;
  text-transform: capitalize;
}

footer a:hover {
  color: #ffd700; /* Cor ao passar o mouse igual à navbar */
}

footer .btn {
  margin-bottom: 20px;
}

footer {
  overflow: hidden;
}

.direitos {
  padding-top: 6em;
  font-weight: 100;
  font-size: 0.8em;
  text-align: justify;
  padding-left: 1.5em;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.calendar-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
}

.calendar-text {
  flex: 1;
  padding-right: 20px;
}

.calendar-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

  /* Media queries para telas pequenas */
@media screen and (max-width: 768px) {
  /* Ajuste da navbar */
  .navbar {
    height: auto;
    padding: 10px;
  }
  
  .navbar-toggler {

    font-size: 1.2em;
    padding: 5px;
  }

  .nav-link {
    font-size: 0.9em;
    padding: 0.5em;
  }

  /* Título principal */
  .maintitle {
    font-size: 2.5em; /* Diminui o tamanho da fonte do título principal */
    padding-top: 0.5em;
  }

  /* Títulos dentro de parallax */
  .parallax-inner > h2 {
    font-size: 1.5em;
    letter-spacing: 5px;
  }

  /* Conteúdo de texto */
  .content-text p {
    padding: 10px 20px;
    font-size: 1em;
    line-height: 20px;
  }

  .first-letter {
    font-size: 48px; /* Diminui a primeira letra */
    line-height: 40px;
  }
  
  .line-break {
    width: 150px; /* Ajusta a largura da linha separadora */
  }

  .team-container {
    flex-direction: column;
    gap: 15px; /* Diminui o espaço entre os membros da equipe */
  }

  .team-member {
    flex-direction: column;
    text-align: center; /* Centraliza o texto nos cards */
  }

  .card {
    width: 100%; /* Faz o card ocupar toda a largura disponível */
    max-width: 300px; /* Define um limite para não ficar muito largo */
    margin-bottom: 20px; /* Espaço entre os cards */
  }

  .member-info {
    max-width: 100%; /* Remove o limite de largura */
    padding: 10px; /* Adiciona um espaço interno */
  }

.member-info {
  padding: 15px; /* Adiciona mais espaçamento interno */
}

.lattes-btn {
  padding: 8px 15px; /* Ajusta o tamanho do botão para caber melhor */
}

.event-card-group {
  grid-template-columns: 1fr; /* Um card por linha em telas menores */
  padding: 0 1em; /* Margem menor nas laterais para telas pequenas */
  justify-items: center; /* Centraliza o card */
}

.calendar-event {
  flex-direction: column;
  text-align: center;
}

.calendar-text {
  padding-right: 0;
  margin-bottom: 20px;
}

.calendar-image img {
  width: 100%;
  height: auto;
}
  /* Footer */
  footer {
    padding: 5px;
    padding-bottom: 80px;
    font-size: 0.9em;
    text-align: center;
  }

  /* Ajusta o formulário de inscrição da newsletter */
  footer .row {
    display: flex;
    flex-direction: column; /* Coloca os itens em colunas */
    align-items: center; /* Centraliza os itens no meio */
  }

  footer .col-auto, 
  footer .col-md-5, 
  footer .col-12 {
    width: 100%; /* Faz os itens ocuparem toda a largura */
    margin-bottom: 10px; /* Espaço entre os elementos */
  }

  footer .btn {
    width: 100%; /* O botão ocupa toda a largura */
    padding: 10px;
    margin-bottom: 40px; /* Garante que o botão não encoste no fim da página */
  }

  footer p, footer a {
    font-size: 14px;
    margin-bottom: 10px; /* Garante que o texto não sobreponha outros elementos */
  }

  footer img {
    max-width: 50px; /* Reduz o tamanho do ícone da licença */
  }
}

/* Ajustes mais radicais para telas muito pequenas (máx. 500px) */
@media screen and (max-width: 500px) {
  .maintitle {
    font-size: 2em;
    padding-top: 0.2em;
  }

  .parallax-inner {
    min-height: 200px; /* Reduz o tamanho da imagem parallax */
  }

  .parallax-inner > h2 {
    font-size: 1.2em;
    letter-spacing: 3px;
  }

  .content-text p {
    font-size: 0.9em;
  }

  .first-letter {
    font-size: 36px; /* Ainda menor em telas muito pequenas */
  }

  .team-member {
    width: 100%; /* O card ocupará toda a largura da tela */
    max-width: 280px;
    padding-top:4em;
    padding-bottom: 2em;;
  }

  .card {
    max-width: 100%; /* Garante que o card não ultrapasse os limites da tela */
    max-width: 280px;
    height: 350px;
    padding-top: 15em;
    padding-bottom: 15em;
  }

  .card-inner {
    height: 100%; /* Garante que o conteúdo interno ocupe 100% da altura */  }

  .card-front,
  .card-back {
    width: 100%; /* Ocupa 100% da largura */
    height: 100%; /* Ocupa 100% da altura */
    position: absolute; /* Garante que o `card-back` sobreponha completamente o `card-front` */
    backface-visibility: hidden; /* Garante que a frente não apareça quando o card gira */
    transform-style: preserve-3d; /* Mantém a transformação 3D */
  }

  .card-front img {
    width: 100%; /* Ajusta a imagem para que não estique */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
  }

  .card-back {
    font-size: 0.8em;
    object-fit: cover;
}

.event-card {
  width: 100%; /* Cards ocupam toda a largura disponível */
  max-width: 400px; /* Limite de largura para smartphones */
  height: auto;
}

.event-card img {
  height: 120px; /* Altura menor da imagem para dispositivos pequenos */
}

.event-card-body {
  padding: 8px; /* Padding menor para smartphones */
}

.event-card-title {
  font-size: 1.2em; /* Título ligeiramente menor */
}

.event-card-text {
  font-size: 0.9em; /* Texto menor e mais compacto */
}

  /* footer */
  footer {
    padding: 15px;
    font-size: 0.8em;
  }

  footer p, footer a {
    font-size: 12px;
  }

  footer img {
    max-width: 40px;
  }

  footer .btn {
    font-size: 0.9em;
  }
  footer .row {
      flex-direction: column;
      text-align: center;
    }

    footer .col-12 {
      margin-bottom: 15px; /* Espaçamento entre os elementos no footer */
    }
  }

